@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.svg#Jost-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.svg#Jost-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.svg#Jost-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --solitary-star: #f3ebd6;
  --tiramisu: #644235;
  --black-bean: #2c2929;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:var(--solitary-star);
  color: var(--black-bean);
  font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: large;
}

footer {
  background-color: var(--black-bean);
  color: var(--solitary-star);
}

.dark-bg{
  background-color: var(--tiramisu);
  color: var(--solitary-star)
}

.light-bg {
  background-color: var(--solitary-star);
  color: var(--black-bean);
}

.center {
  text-align: center;
}

/* Text */

h1 {
  font-size:200%;
  font-weight: 600;
  margin-bottom: 3vh;
}

h2 {
  font-size: 125%;
  margin-bottom: 1vh;
}


.light {
  font-weight: 300;
  font-size: 80%;
}

.mini-title {
  font-weight: 500;
  font-size: 110%;
}

.main-text {
  margin: 0 0 3vh 0;
  font-size: 100%;
}

.footer-text {
  font-size: 100%;
}

a {
  color: var(--solitary-star);
}


/* Images */

img {
  width: 100%;
  height: auto;
}

.shadow {
   box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
}

.logo {
  width: 80vw;
  max-width: 750px;
  align-items: center;
}

.invis-on-column{
  display: none;
}

/* Wrappers */

.content-wrapper {
  display: flex;
  flex-direction: column;
}


[class|="section-wrapper"] {
  display: flex;
  flex-direction: column;
  padding: 6vh 4vw 6vh 4vw;
  gap: 3vh;

  min-height: 80vh;
  align-items: center;
  justify-content: center;

}

.opening-hours-wrapper{
  margin: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 6vh 4vw 6vh 4vw;
  row-gap: 2vh;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  padding: 8vh 0;
  text-align: center;
}

.footer-entry-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}


/* Media Queries*/

@media only screen and (min-width: 600px) {
  /* For Tablets */
  .content-wrapper {
    gap: 100px;
  }

  [class$="text"]{
    font-size: 130%;
  }

  .mini-title{
    font-size: 145%;
  }

  h1 {
    font-size: 300%;
    font-weight: 600;
    margin-bottom: 3vh;
  }

  h2{
    font-size: 175%;
    margin-bottom: 1vh;
  }

  .light {
    font-size: 100%;
  }
  
}

@media only screen and (orientation: landscape){

  .logo {
    width: 40vw;
  }

  .invis-on-column {
    display: block; 
  }

  .opening-hours-wrapper {
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
  }

  img{
    width: 90%;
    height: auto;
  }

  .footer-wrapper{
    flex-direction: row;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-wrapper-right{
    flex-direction: row;
    /* height: 110vh; */
    /*justify-content: space-evenly;*/
  }

  .section-wrapper-left {
    flex-direction: row-reverse;
    /* height: 110vh; */
    /*justify-content: space-evenly;*/
  }

  .main-text-wrapper {
    flex: 40%
  }

  .main-image-wrapper {
    flex: 60%
  }
}

/*



@media only screen and (min-width: 600px) {
  
  /*

}

@media only screen and (min-width: 768px) {
  /* For Desktop */
/*
}

@media only screen and (min-width: 1280px) {
  /* For big screens */
/*
}
*/


/* Font Import */




