:root {
  --solitary-star: #f3ebd6;
  --pinkish-beige: #cdb5a7;
  --sandalwood: #cda890;
  --tiramisu: #644235;
  --seal-brown: #5c4738;
  --black-bean: #2c2929;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:var(--solitary-star);
  color: var(--black-bean);
  font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

footer {
  background-color: var(--black-bean);
  color: var(--solitary-star);
}

.dark-bg{
  background-color: var(--tiramisu);
  color: var(--solitary-star)
}

.light-bg {
  background-color: var(--solitary-star);
  color: var(--black-bean);
}

.center {
  text-align: center;
}

/* Text */

h1 {
  font-size:200%;
  font-weight: 600;
  margin-bottom: 3vh;
}

h2 {
  margin-bottom: 1vh;
}

h3 {
  font-size: 125%;
  padding-bottom: 1vh;
}

.main-text {
  font-size: 90%;
}

.light {
  font-weight: 300;
  font-size: 80%;
}

.mini-title {
  font-weight: 500;
  font-size: 105%;
}

.main-text {
  margin: 0 0 3vh 0;
}


a {
  color: var(--solitary-star);
}


/* Images */

img {
  width: 100%;
  height: auto;
}

.shadow {
   box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25), 0 8px 20px 0 rgba(0, 0, 0, 0.24);
}

.logo {
  width: 80vw;
  max-width: 750px;
  align-items: center;
}


.opening-hours-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.invis-on-column{
  display: none;
}

/* Wrappers */

.content-wrapper {
  display: flex;
  flex-direction: column;
}


[class|="section-wrapper"] {
  display: flex;
  flex-direction: column;
  padding: 6vh 4vw 6vh 4vw;
  gap: 3vh;

  min-height: 40vh;
  align-items: center;
  justify-content: center;

}

.title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 6vh 4vw 6vh 4vw;
  row-gap: 2vh;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8vh;
  padding: 8vh 0;
  text-align: center;
}

.footer-entry-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}


/* Media Queries*/

@media only screen and (min-width: 600px) {
  /* For Tablets */
  .content-wrapper {
    gap: 100px;
  }

  [class$="text"]{
    font-size: 130%;
  }

  h1 {
    font-size: 300%;
  }

  .light {
    font-size: 100%;
  }
  
}

@media only screen and (orientation: landscape){

  .logo {
    width: 40vw;
  }

  .invis-on-column {
    display: block; 
  }

  .opening-hours-wrapper {
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
  }


  .footer-wrapper{
    flex-direction: row;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-wrapper-right{
    flex-direction: row;
    /* height: 110vh; */
    /*justify-content: space-evenly;*/
  }

  .section-wrapper-left {
    flex-direction: row-reverse;
    /* height: 110vh; */
    /*justify-content: space-evenly;*/
  }

  .main-text-wrapper {
    flex: 40%
  }

  .main-image-wrapper {
    flex: 60%
  }
}

/*



@media only screen and (min-width: 600px) {
  
  /*

}

@media only screen and (min-width: 768px) {
  /* For Desktop */
/*
}

@media only screen and (min-width: 1280px) {
  /* For big screens */
/*
}
*/


/* Font Import */

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-BoldItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BoldItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BoldItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BoldItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BoldItalic.svg#Jost-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBold.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBold.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBold.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBold.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBold.svg#Jost-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Black.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Black.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Black.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Black.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Black.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Black.svg#Jost-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Bold.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Bold.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Bold.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Bold.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Bold.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Bold.svg#Jost-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-BlackItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BlackItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BlackItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BlackItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-BlackItalic.svg#Jost-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Medium.svg#Jost-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-LightItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-LightItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-LightItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-LightItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-LightItalic.svg#Jost-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Light.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Light.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Light.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Light.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Light.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Light.svg#Jost-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Italic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Italic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Italic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Italic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Italic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Italic.svg#Jost-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBold.svg#Jost-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Regular.svg#Jost-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ThinItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ThinItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ThinItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ThinItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ThinItalic.svg#Jost-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Thin.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-Thin.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Thin.woff2') format('woff2'),
      url('schoenau-andwil/res/fonts/Jost/Jost-Thin.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Thin.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-Thin.svg#Jost-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBoldItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBoldItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBoldItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBoldItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraBoldItalic.svg#Jost-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLight.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLight.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLight.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLight.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLight.svg#Jost-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLightItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLightItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLightItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLightItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-ExtraLightItalic.svg#Jost-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBoldItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBoldItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBoldItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBoldItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-SemiBoldItalic.svg#Jost-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-MediumItalic.eot');
  src: url('/schoenau-andwil/res/fonts/Jost/Jost-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-MediumItalic.woff2') format('woff2'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-MediumItalic.woff') format('woff'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-MediumItalic.ttf') format('truetype'),
      url('/schoenau-andwil/res/fonts/Jost/Jost-MediumItalic.svg#Jost-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}